{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

source /tmp/chezmoi-utils.sh

printf "${green}[22 - macOS] ${reset}"
{{- if or (lt 22 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_MAS") }}
echo "Skip installing Mac App Store apps via mas"
exit 0
{{ else }}
echo "Install Mac App Store apps via mas"
{{- end }}

set -ufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF

mas "Fantastical", id: 975937182
mas "Spark", id: 1176895641
mas "Twitter", id: 1482454543
mas "HP Smart for Desktop", id: 1474276998
mas "Messenger", id: 1480068668
mas "LINE", id: 539883307
mas "Magnet", id: 441258766


EOF
{{ end -}}
