{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install Fish Shell via Homebrew

source /tmp/chezmoi-utils.sh

printf "${green}[01 - macOS] ${reset}"
{{- if or (lt 01 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_FISH_INSTALL") }}
echo "Skip installing Fish Shell"
exit 0
{{ else }}
echo "Install Oh My Fish"
{{- end }}

set -eufo pipefail

curl https://raw.githubusercontent.com/oh-my-fish/oh-my-fish/master/bin/install | fish

{{ end -}}
